.container {
  display: grid;
  grid-template-columns: 33% 33% 33%;  
  grid-template-rows: 33% 33% 33%;
  grid-gap: 1rem;
  grid-auto-flow: row;
  justify-content: center;
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: 15em;
}

.calculatorBox {
  width: 140px;
}

.one {
  background: linear-gradient(180deg, rgb(118, 0, 222) 0%,
  rgb(255, 0, 238) 100%);
  margin: 2px;
  width: 30px;
  border-radius: 10px;
}

.two {
  background: linear-gradient(180deg, rgb(118, 0, 222) 0%,
  rgb(255, 0, 238) 100%);
  margin: 2px;
  width: 30px;
  border-radius: 10px;
}

.three {
  background: linear-gradient(180deg, rgb(118, 0, 222) 0%,
  rgb(255, 0, 238) 100%);
  margin: 2px;
  width: 30px;
  border-radius: 10px;
}

.div {
  background: linear-gradient(180deg, rgb(118, 0, 222) 0%,
  rgb(255, 0, 238) 100%);
  margin: 2px;
  width: 30px;
  border-radius: 10px;
}

.four {
  background: linear-gradient(180deg, rgb(118, 0, 222) 0%,
  rgb(255, 0, 238) 100%);
  margin: 2px;
  width: 30px;
  border-radius: 10px;
}

.five {
  background: linear-gradient(180deg, rgb(118, 0, 222) 0%,
  rgb(255, 0, 238) 100%);
  margin: 2px;
  width: 30px;
  border-radius: 10px;
}

.six {
  background: linear-gradient(180deg, rgb(118, 0, 222) 0%,
  rgb(255, 0, 238) 100%);
  margin: 2px;
  width: 30px;
  border-radius: 10px;
}

.mult {
  background: linear-gradient(180deg, rgb(118, 0, 222) 0%,
  rgb(255, 0, 238) 100%);
  margin: 2px;
  width: 30px;
  border-radius: 10px;
}

.seven {
  background: linear-gradient(180deg, rgb(118, 0, 222) 0%,
  rgb(255, 0, 238) 100%);
  margin: 2px;
  width: 30px;
  border-radius: 10px;
}

.eight {
  background: linear-gradient(180deg, rgb(118, 0, 222) 0%,
  rgb(255, 0, 238) 100%);
  margin: 2px;
  width: 30px;
  border-radius: 10px;
}

.nine {
  background: linear-gradient(180deg, rgb(118, 0, 222) 0%,
  rgb(255, 0, 238) 100%);
  margin: 2px;
  width: 30px;
  border-radius: 10px;
}

.sub {
  background: linear-gradient(180deg, rgb(118, 0, 222) 0%,
  rgb(255, 0, 238) 100%);
  margin: 2px;
  width: 30px;
  border-radius: 10px;
}

.zero {
  background: linear-gradient(180deg, rgb(118, 0, 222) 0%,
  rgb(255, 0, 238) 100%);
  margin: 2px;
  width: 30px;
  border-radius: 10px;
}

.dot {
  background: linear-gradient(180deg, rgb(118, 0, 222) 0%,
  rgb(255, 0, 238) 100%);
  margin: 2px;
  width: 30px;
  border-radius: 10px;
}

.equals {
  background: linear-gradient(180deg, rgb(118, 0, 222) 0%,
  rgb(255, 0, 238) 100%);
  margin: 2px;
  width: 30px;
  border-radius: 10px;
}

.add {
  background: linear-gradient(180deg, rgb(118, 0, 222) 0%,
  rgb(255, 0, 238) 100%);
  margin: 2px;
  width: 30px;
  border-radius: 10px;
}